.icon-box { 
    font-family: 'Signika Negative';
    font-size: 50px;
    display:inline-block;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

.contact-txt {
  font-family: 'Signika Negative';
  font-size: 50px;
  display:inline-block;
}

.contact-center { 
    text-align: center;
}