nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
nav ul{
  font-family: 'Signika Negative';
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a:hover {
  background-color: #F0F8FF;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

nav .logo {
  padding: 25px 25px;
  padding-left: 30px;
  float: center;
  height: 50px;
  font-size: 60px;
  color: white;
  font-family: 'Vollkorn SC';
  transition: .3s;
}

nav .nav-img {
   object-fit: cover;
   width: 100%;
   height: 25px;
   margin: 0 auto;
}

nav .logo-img {
   object-fit: cover;
   width: 50px;
   height: 50px;
   margin: 0 auto;
}

.title {
  color: #333;
  font-family: 'Signika Negative';
  padding-top: 75px;
  height: 100px;
  text-align: center;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
}

.subtitle {
  color: #333;
  font-family: 'Signika Negative';
  padding-top: 75px;
  height: 100px;
  text-align: center;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
}

.desc {
  color: #333;
  font-family: 'Signika Negative';
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #333;
  font-family: 'Signika Negative';
  text-align: center;
  font-size: 25px;
  display: flex;
}

.large-gap {
  vertical-align: center;
  height:220px;
  width: 100%;
}

.med-gap {
  vertical-align: center;
  height:100px;
  width: 100px;
}

.gap {
  vertical-align: center;
  height:35px;
  width: 100px;
}

.img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height:500px;
  width: 500px; 
}

.sig {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height:100px;
  width: 200px; 
}

.center {
  margin-left: auto;
  margin-right: auto; 
}

.center-margin {
  margin-left: auto;
  margin-right: auto; 
  width: 80%;
}

.show-mobile {
    display: none;
}
.hide-mobile {
    display: block;
}

@media only screen and (max-device-width: 800px) {
    .show-mobile {
        display: block;
    }
    .hide-mobile {
      display: none;
    }
}

@media screen and (max-width: 800px) {
    .show-mobile {
        display: block;
    }
    .hide-mobile {
      display: none;
    }
}





